# Node.js modules
node_modules/
backend/node_modules

# Logs
*.log

# Build directories
backend/dist
dist/
build/

# Or to ignore all .env files in any subfolder:
**/.env

# miscellaneous
goals.txt
notes.txt
overallGoals.txt